Email Automation.json
{
  "name": "Email Automation",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        288
      ],
      "id": "528086da-2233-494a-a9c8-5c67480f5bab",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "18Mbl3qomEaYekp0Q__yLRTTVZ9yAYwRA3t5CW_LE2BQ",
          "mode": "list",
          "cachedResultName": "Copy of email automation n8n - 123",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18Mbl3qomEaYekp0Q__yLRTTVZ9yAYwRA3t5CW_LE2BQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2014303045,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18Mbl3qomEaYekp0Q__yLRTTVZ9yAYwRA3t5CW_LE2BQ/edit#gid=2014303045"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -96,
        304
      ],
      "id": "30baa1e8-0d0e-401d-bc25-ad347e1d4c2a",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nyoJy6icucUrAXKa",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        448,
        272
      ],
      "id": "cea9e5f9-669a-462f-917c-27a611b55034",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "domain": "={{ $json.Company }}",
        "limit": 10,
        "filters": {
          "department": [
            "hr",
            "it"
          ]
        }
      },
      "type": "n8n-nodes-base.hunter",
      "typeVersion": 1,
      "position": [
        640,
        304
      ],
      "id": "d570eeed-91a4-4d97-b032-812bcba958eb",
      "name": "Hunter",
      "credentials": {
        "hunterApi": {
          "id": "lXQysZgrgnqYvjuY",
          "name": "Hunter account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3d243cab-bb58-4129-96ef-f2c355c80886",
              "name": "Company",
              "value": "={{ $json['Company Name'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        288
      ],
      "id": "d9fa9a3f-4792-4096-9d9c-b7767b36f31c",
      "name": "Fetch Companies"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a38e15c4-b4ff-4b14-8c07-8ecf318bdfc4",
              "name": "Name",
              "value": "={{ $json.first_name + \" \" + $json.last_name}} ",
              "type": "string"
            },
            {
              "id": "109eba56-0a23-4efd-9090-3651c56e32cc",
              "name": "Email",
              "value": "={{ $json.value }}",
              "type": "string"
            },
            {
              "id": "d463168c-6718-4d86-9c76-81e582e33524",
              "name": "Position",
              "value": "={{ $json.position }}",
              "type": "string"
            },
            {
              "id": "6877a272-5a9f-4916-8331-fe550ab64129",
              "name": "LinkedIn",
              "value": "={{ $json.linkedin }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2032,
        208
      ],
      "id": "8da3707b-e5b2-42e5-b724-d0d6666d08f7",
      "name": "Fetch Data"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "=={{ (() => {\n  const src = $('AI Agent')?.item?.json?.output;\n  \n  if (!src) {\n    return { \n      subject: 'ERROR: No output', \n      email_body: 'ERROR: No output',\n      validation_status: 'error'\n    };\n  }\n  \n  try {\n    let jsonStr = src;\n    \n    if (typeof src === 'object') {\n      return {\n        subject: src.subject || 'ERROR: Missing subject',\n        email_body: src.email_body || 'ERROR: Missing body'\n      };\n    }\n    \n    jsonStr = jsonStr.trim();\n    jsonStr = jsonStr.replace(/^`+json\\s*/i, '');\n    jsonStr = jsonStr.replace(/`+$/, '');\n    jsonStr = jsonStr.trim();\n    \n    const parsed = JSON.parse(jsonStr);\n    \n    // Replace [Your Name] with actual name\n    let emailBody = parsed.email_body || '';\n    emailBody = emailBody.replace(/\\[Your Name\\]/gi, 'Sruthi Gandla');\n    emailBody = emailBody.replace(/Best regards,\\s*$/i, 'Best regards,\\nSruthi Gandla');\n    \n    return {\n      subject: parsed.subject || 'ERROR: Missing subject',\n      email_body: emailBody\n    };\n  } catch (error) {\n    return { \n      subject: 'ERROR: Parse failed', \n      email_body: `ERROR: ${error.message}`,\n      error: error.message\n    };\n  }\n})() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        592
      ],
      "id": "620b3ce9-9f28-4c99-b197-8dcb8e97b344",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Company",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        240,
        272
      ],
      "id": "09c1a2fa-e54d-4264-b159-547e5a0a5a2d",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "={{ $json.Subject }}",
        "emailType": "text",
        "message": "={{ $json['Email Body'] }}\n\nLinkedIn Profile: https://www.linkedin.com/in/sruthi-gandla-38464b206/",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2832,
        -64
      ],
      "id": "9999689d-9033-41bc-a0f7-b6e447e97b50",
      "name": "Send a message",
      "webhookId": "0644a7cd-a562-49bb-b246-2ef80321e48a",
      "credentials": {
        "gmailOAuth2": {
          "id": "RnF7mRqOFzfZn5A6",
          "name": "Gmail account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        656,
        -48
      ],
      "id": "48bfb110-aecd-422c-84b8-c410165616d1",
      "name": "Date & Time"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1408,
        -32
      ],
      "id": "b692affd-d66b-464a-b4e0-0c63cbd10172",
      "name": "Merge",
      "executeOnce": true
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "Email",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        2080,
        -16
      ],
      "id": "948f7baa-b6a9-4768-a710-8e689cbc374b",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "content": "# Cold-email automation \n\n1. Takes about 5 minutes to run per company\n2. Finds all relevant people from the company, \n3. Sends an e-mail to 10 people from each company asking for referral ",
        "height": 352,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        432,
        464
      ],
      "typeVersion": 1,
      "id": "539cddd3-1d46-403d-98f8-af1266087b6a",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Add Google Cloud Credentials\n\n1. sign in with google\n2. Prepare your sheet filter\n3. Add your sheet Link",
        "height": 176,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        304,
        16
      ],
      "typeVersion": 1,
      "id": "bc8be26b-a9ce-4a8b-9529-67519adfe28a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Add Google Cloud Credentials\n\n1. sign in with google\n2. Prepare your sheet filter\n3. Add your sheet Link",
        "height": 176,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        48,
        816
      ],
      "typeVersion": 1,
      "id": "aef256e5-033d-43c5-a0c3-432379a18537",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Add Google Cloud Credentials\n\n1. sign in with google\n2. Prepare your sheet filter\n3. Add your sheet Link",
        "height": 192,
        "width": 272,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        784,
        112
      ],
      "typeVersion": 1,
      "id": "9a965d37-eb88-4014-ad14-66f6a031a5da",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Add Gemini Free tier api key\n\n1. sign in with google\n2. Create API key and project\n3. Add Free Tier key",
        "height": 176,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        496,
        848
      ],
      "typeVersion": 1,
      "id": "467d348f-094f-4a15-a044-21df34bcb99f",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Hunter IO Api key\n\n1. Go-to https://hunter.io/api\n2. Sign up and go to - https://hunter.io/api-keys\n3. Click create \"New Key\" and copy paste it in this node",
        "height": 192,
        "width": 256,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "79a528ae-39bd-4c6d-8708-739b52f89fbe",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "https://drive.google.com/file/d/1ejRwq7BW7jooy-xROawPW6m6qCctT9h4/view?usp=drive_link",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        848,
        512
      ],
      "id": "8f50436f-bbae-4820-ba98-d4f93375402c",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xIwf3qpQmu1AeADw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1504,
        512
      ],
      "id": "18c5716a-1d7f-4df3-ad2a-cd9df0ab1af1",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are analyzing if Sruthi Gandla's resume is a good fit for a specific job posting.\n\nINPUTS:\n- Resume text: {{ $json.data }}\n- Company: {{ $('Fetch Companies').item.json.Company }}\n- Job title: {{ $('Get row(s) in sheet').item.json.Position }}\n- Job posting URL: {{ $('Get row(s) in sheet').item.json.URL }}\n\nTASK:\nAnalyze if Sruthi Gandla's background matches this job opportunity.\n\n1. Score the relevance from 0.0 (not relevant) to 1.0 (perfect fit)\n2. Consider: skills match, experience level, domain expertise\n3. Decide: should_proceed = \"yes\" if score >= 0.5, otherwise \"no\"\n4. Provide a normalized job title (clean, standardized)\n5. Write a 2-3 sentence summary explaining the fit\n\nOUTPUT (JSON only, no markdown):\n{\n  \"should_proceed\": \"yes or no\",\n  \"relevance_score\": 0.0 to 1.0,\n  \"normalized_job_title\": \"cleaned title\",\n  \"fit_summary\": \"explanation of match quality\"\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1728,
        512
      ],
      "id": "b1e63dc5-b813-47d5-90dd-e2dfa97ca0c0",
      "name": "Controller Agent"
    },
    {
      "parameters": {
        "jsCode": "// JSON Validator & Cleaner Custom Tool\n// This tool validates, cleans, and normalizes the LLM output from the Email Writer Agent.\n\nconst items = $input.all().map(item => {\n\n  // 1. Extract raw model output\n  let raw = item.json.output || item.json || \"\";\n\n  // If raw is object, convert to string to clean/parse\n  if (typeof raw === 'object') {\n    raw = JSON.stringify(raw);\n  }\n\n  let parsed = {};\n  let status = \"ok\";\n  let error = \"\";\n\n  try {\n    // 2. Cleanup: remove ```json fences or backticks\n    raw = raw.trim()\n             .replace(/^`+json/i, \"\")\n             .replace(/^`+/, \"\")\n             .replace(/`+$/, \"\")\n             .trim();\n\n    // 3. Parse JSON\n    parsed = JSON.parse(raw);\n\n  } catch (err) {\n    status = \"parse_error\";\n    error = `JSON parse failed: ${err.message}`;\n    parsed = {\n      subject: \"\",\n      email_body: \"\",\n      anchor_topics: []\n    };\n  }\n\n  // 4. Ensure required keys exist\n  parsed.subject = parsed.subject || \"\";\n  parsed.email_body = parsed.email_body || \"\";\n  parsed.anchor_topics = parsed.anchor_topics || [];\n\n  // 5. Validations\n  // Subject must be 3–7 words\n  const subjectWordCount = parsed.subject.trim().split(/\\s+/).filter(Boolean).length;\n  if (subjectWordCount < 3 || subjectWordCount > 7) {\n    status = \"validation_warning\";\n    error += \" | Subject must be 3–7 words.\";\n  }\n\n  // Email must reference resume + LinkedIn\n  if (!parsed.email_body.toLowerCase().includes(\"resume\") ||\n      !parsed.email_body.toLowerCase().includes(\"linkedin\")) {\n    status = \"validation_warning\";\n    error += \" | CTA missing mention of resume and LinkedIn.\";\n  }\n\n  // Should contain job link from sheet\n  try {\n    const jobLink = $('Get row(s) in sheet').item.json.URL;\n    if (!parsed.email_body.includes(jobLink)) {\n      status = \"validation_warning\";\n      error += \" | Job link not detected in the email body.\";\n    }\n  } catch (e) {\n    // ignore if sheet didn't load\n  }\n\n  // 6. Output cleaned values\n  item.json.subject = parsed.subject;\n  item.json.email_body = parsed.email_body;\n  item.json.anchor_topics = parsed.anchor_topics;\n  item.json.validation_status = status;\n  item.json.validation_error = error || null;\n\n  return item;\n});\n\n// 7. Return validated/cleaned items\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        912
      ],
      "id": "5bc9c4c6-7947-4290-9bb5-05c498145b21",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are preparing context for a referral email that Sruthi Gandla will send.\n\nINPUTS:\n- Controller decision: {{ $('Controller Agent').item.json.output }}\n- Resume text: {{ $('Extract from File').item.json.data }}\n- Company: {{ $('Fetch Companies').item.json.Company }}\n- Job title: {{ $('Get row(s) in sheet').item.json.Position }}\n- Job URL: {{ $('Get row(s) in sheet').item.json.URL }}\n\nTASK:\nExtract key information from Sruthi's resume that's relevant to this job.\n\n1. Identify 3-5 key technical/professional skills matching the job\n2. Find 2 best quantified achievements (with numbers/metrics)\n3. Write 1-2 sentences about what this job role focuses on\n\nIf controller said should_proceed = \"no\", still extract context but set recommended_action = \"skip_email\"\n\nOUTPUT (JSON only, no markdown):\n{\n  \"recommended_action\": \"send_email or skip_email\",\n  \"key_skills\": [\"skill1\", \"skill2\", \"skill3\"],\n  \"top_achievements\": [\"achievement1 with metrics\", \"achievement2 with metrics\"],\n  \"job_focus_summary\": \"what this role is about\"\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2080,
        512
      ],
      "id": "0cfa4cbe-c2a9-4c21-9e12-b7fdc20824d4",
      "name": "Context Builder Agent"
    },
    {
      "parameters": {
        "content": "## Controller Agent\n• Acts as the main orchestrator for the multi-agent system  \n• Analyzes resume, job title, and company to determine relevance  \n• Decides whether the workflow should proceed (“should_proceed”)  \n• Produces normalized job title + fit summary  \n• Passes structured context to downstream agents  \n• Forms the decision-making layer required for agent orchestration\n",
        "height": 224,
        "width": 432,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1248,
        720
      ],
      "typeVersion": 1,
      "id": "9fddfd12-fab0-4751-84db-a219eee50ed1",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Context Builder Agent\n• Takes Controller Agent output + resume text  \n• Extracts key skills and top quantified achievements  \n• Summarizes job focus based on company + role  \n• Produces structured JSON context for the Email Writer Agent  \n• Ensures personalization is grounded in actual resume + role requirements  \n• Acts as a specialized agent supporting the multi-agent pipeline\n",
        "height": 192,
        "width": 480,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1968,
        912
      ],
      "typeVersion": 1,
      "id": "ba833d1e-e3cb-4e8a-a273-6ea211d00286",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2896,
        144
      ],
      "id": "6a3aaf14-789a-4b64-a76b-a25954dc94a4",
      "name": "Date & Time1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6c0a370c-c271-4291-811c-bd11324a119b",
              "leftValue": "=={{ $json.validation_status }}",
              "rightValue": "=parse_error",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1104,
        912
      ],
      "id": "3477b45e-8cb4-428f-8ec5-b5434f8bcd48",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "18Mbl3qomEaYekp0Q__yLRTTVZ9yAYwRA3t5CW_LE2BQ",
          "mode": "list",
          "cachedResultName": "Copy of email automation n8n - 123",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18Mbl3qomEaYekp0Q__yLRTTVZ9yAYwRA3t5CW_LE2BQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 129454302,
          "mode": "list",
          "cachedResultName": "History",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18Mbl3qomEaYekp0Q__yLRTTVZ9yAYwRA3t5CW_LE2BQ/edit#gid=129454302"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Fetch Data').item.json.Email }}",
            "Company": "={{ $json.Company || $('Fetch Companies').item.json.Company }}",
            "Job Title": "={{$('Get row(s) in sheet').item.json.Position}}",
            "Job URL": "={{$('Get row(s) in sheet').item.json.URL}}",
            "Sent_At": "={{ $json.timestamp || new Date().toISOString() }}",
            "Validation_Status": "={{ $json.validation_status || \"ok\" }}",
            "Reply_Received": "=N",
            "Reward": "=0",
            "Template_Variant": "={{ $json.template_variant || \"A\" }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job URL",
              "displayName": "Job URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Template_Variant",
              "displayName": "Template_Variant",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sent_At",
              "displayName": "Sent_At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Validation_Status",
              "displayName": "Validation_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reply_Received",
              "displayName": "Reply_Received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reward",
              "displayName": "Reward",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3072,
        176
      ],
      "id": "b5db4c0e-ff92-4607-be88-a6311bddd263",
      "name": "Append row in History sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nyoJy6icucUrAXKa",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1360,
        976
      ],
      "id": "00238b0f-5b7e-45b0-96b8-1006b8c85252",
      "name": "Date & Time2"
    },
    {
      "parameters": {
        "jsCode": "// Simple RL-like policy: choose template A or B based on historical reward.\n// Assumes input items are rows from History sheet for this company/job_title.\n// Columns: Template_Variant, Reward\n\nconst rows = $input.all().map(i => i.json);\n\nlet stats = {\n  A: { count: 0, reward: 0 },\n  B: { count: 0, reward: 0 },\n};\n\n// Aggregate stats\nfor (const row of rows) {\n  const variant = row.Template_Variant || row.template_variant || \"A\";\n  const reward = Number(row.Reward || 0);\n\n  if (!stats[variant]) {\n    stats[variant] = { count: 0, reward: 0 };\n  }\n  stats[variant].count += 1;\n  stats[variant].reward += reward;\n}\n\n// Compute average reward with small smoothing\nfunction avgReward(v) {\n  if (!stats[v]) return 0;\n  return (stats[v].reward + 1) / (stats[v].count + 2); // Laplace smoothing\n}\n\nconst avgA = avgReward(\"A\");\nconst avgB = avgReward(\"B\");\n\n// Choose the better-performing variant; if equal, default to A\nlet chosen = \"A\";\nif (avgB > avgA) chosen = \"B\";\n\n// Output single item with chosen variant\nreturn [\n  {\n    json: {\n      chosen_template_variant: chosen,\n      avg_reward_A: avgA,\n      avg_reward_B: avgB,\n      history_count_A: stats.A.count,\n      history_count_B: stats.B.count\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3280,
        272
      ],
      "id": "11352c62-5656-4ebf-b9c9-14f492385ab1",
      "name": "Code in RL Node"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "18Mbl3qomEaYekp0Q__yLRTTVZ9yAYwRA3t5CW_LE2BQ",
          "mode": "list",
          "cachedResultName": "Copy of email automation n8n - 123",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18Mbl3qomEaYekp0Q__yLRTTVZ9yAYwRA3t5CW_LE2BQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 129454302,
          "mode": "list",
          "cachedResultName": "History",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18Mbl3qomEaYekp0Q__yLRTTVZ9yAYwRA3t5CW_LE2BQ/edit#gid=129454302"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3488,
        64
      ],
      "id": "97bae118-1d5c-4976-a2da-6906973f7f74",
      "name": "Get row(s) in History",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nyoJy6icucUrAXKa",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d220bb9a-dc3e-41e9-ae4e-fdde07b1c371",
              "name": "template_variant",
              "value": "=={{ $json.chosen_template_variant || \"A\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3024,
        512
      ],
      "id": "69a114b7-d811-46bc-a6c0-c0b7b655be3d",
      "name": "SET Node"
    },
    {
      "parameters": {
        "jsCode": "// Rows from the History sheet\nconst rows = $input.all().map(i => i.json);\n\n// Initialize counters\nlet total = rows.length;\nlet validEmails = 0;\nlet skipCount = 0;\n\nlet A_count = 0;\nlet A_reward = 0;\n\nlet B_count = 0;\nlet B_reward = 0;\n\nlet successfulSends = 0;\n\n// Loop through History rows\nfor (const r of rows) {\n  // Email validity - check multiple possible field names\n  const validationStatus = r.Validation_Status || r.validation_status || r.Validation_status;\n  if (validationStatus !== \"parse_error\" && validationStatus !== \"#ERROR!\") {\n    validEmails++;\n  }\n\n  // Skip rate (controller decision)\n  if (r.should_proceed === \"no\") {\n    skipCount++;\n  }\n\n  // Success (valid JSON + sent)\n  const replyReceived = r.Reply_Received || r.reply_received;\n  const email = r.Email || r.email;\n  if (validationStatus !== \"parse_error\" &&\n      validationStatus !== \"#ERROR!\" &&\n      replyReceived !== \"ERROR\" &&\n      email) {\n    successfulSends++;\n  }\n\n  // Template performance - handle multiple field name variations\n  const templateVariant = r.Template_Variant || r.template_variant || r['Template Variant'];\n  const reward = Number(r.Reward || r.reward || 0);\n  \n  if (templateVariant === \"A\") {\n    A_count++;\n    A_reward += reward;\n  }\n  if (templateVariant === \"B\") {\n    B_count++;\n    B_reward += reward;\n  }\n}\n\n// Final metrics - avoid division by zero\nlet emailValidityRate = total > 0 ? validEmails / total : 0;\nlet skipRate = total > 0 ? skipCount / total : 0;\nlet replyRateA = A_count > 0 ? A_reward / A_count : 0;\nlet replyRateB = B_count > 0 ? B_reward / B_count : 0;\nlet endToEndSuccessRate = total > 0 ? successfulSends / total : 0;\n\nreturn [\n  {\n    json: {\n      total_rows: total,\n      emailValidityRate: emailValidityRate,\n      skipRate: skipRate,\n      replyRateA: replyRateA,\n      replyRateB: replyRateB,\n      endToEndSuccessRate: endToEndSuccessRate\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3472,
        272
      ],
      "id": "7bb7c0ca-f57a-448f-b76b-c5913a2a433a",
      "name": "Metrics Code"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "18Mbl3qomEaYekp0Q__yLRTTVZ9yAYwRA3t5CW_LE2BQ",
          "mode": "list",
          "cachedResultName": "Copy of email automation n8n - 123",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18Mbl3qomEaYekp0Q__yLRTTVZ9yAYwRA3t5CW_LE2BQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1806955059,
          "mode": "list",
          "cachedResultName": "Metrics",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18Mbl3qomEaYekp0Q__yLRTTVZ9yAYwRA3t5CW_LE2BQ/edit#gid=1806955059"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "=={{ new Date().toISOString() }}",
            "Validity Rate": "={{ $json.emailValidityRate || 0 }}",
            "Skip rate": "={{ $json.skipRate || 0 }}",
            "Reply rate A": "=={{ $json.replyRateA || 0 }}",
            "Reply rate B": "=={{ $json.replyRateB || 0 }}",
            "end-to-end success rate": "=={{ $json.endToEndSuccessRate || 0 }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Validity Rate",
              "displayName": "Validity Rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Skip rate",
              "displayName": "Skip rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reply rate A",
              "displayName": "Reply rate A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reply rate B",
              "displayName": "Reply rate B",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "end-to-end success rate",
              "displayName": "end-to-end success rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3248,
        512
      ],
      "id": "bd7e9f79-9584-4a67-bcdd-a4b88957ae0f",
      "name": "Append row in metrics",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nyoJy6icucUrAXKa",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "18Mbl3qomEaYekp0Q__yLRTTVZ9yAYwRA3t5CW_LE2BQ",
          "mode": "list",
          "cachedResultName": "Copy of email automation n8n - 123",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18Mbl3qomEaYekp0Q__yLRTTVZ9yAYwRA3t5CW_LE2BQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 129454302,
          "mode": "list",
          "cachedResultName": "History",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18Mbl3qomEaYekp0Q__yLRTTVZ9yAYwRA3t5CW_LE2BQ/edit#gid=129454302"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "=={{$json.Email}}",
            "Company": "={{ $json.Company || $('Fetch Companies').item.json.Company }}",
            "Job Title": "=={{$(\"Get row(s) in sheet\").item.json.Position}}",
            "Job URL": "=={{$(\"Get row(s) in sheet\").item.json.URL}}",
            "Template_Variant": "={{ $json.template_variant || \"A\" }}",
            "Sent_At": "=={{$json.now}}",
            "Validation_Status": "={{ $json.validation_status || \"parse_error\" }}",
            "Reply_Received": "=N",
            "Reward": "=0"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job URL",
              "displayName": "Job URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Template_Variant",
              "displayName": "Template_Variant",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sent_At",
              "displayName": "Sent_At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Validation_Status",
              "displayName": "Validation_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reply_Received",
              "displayName": "Reply_Received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reward",
              "displayName": "Reward",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1568,
        976
      ],
      "id": "56ac14b6-ea6d-4592-9ade-e87ab004c3ae",
      "name": "Append row in History",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nyoJy6icucUrAXKa",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "18Mbl3qomEaYekp0Q__yLRTTVZ9yAYwRA3t5CW_LE2BQ",
          "mode": "list",
          "cachedResultName": "Copy of email automation n8n - 123",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18Mbl3qomEaYekp0Q__yLRTTVZ9yAYwRA3t5CW_LE2BQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1621273212,
          "mode": "list",
          "cachedResultName": "Results",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18Mbl3qomEaYekp0Q__yLRTTVZ9yAYwRA3t5CW_LE2BQ/edit#gid=1621273212"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Fetch Data').item.json.Name",
            "Email": "={{ $('Fetch Data').item.json.Email }}",
            "Company": "={{ $('Fetch Companies').item.json.Company }}",
            "Subject": "={{ $json.subject }}",
            "Email Body": "={{ $json.email_body }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Body",
              "displayName": "Email Body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        144,
        592
      ],
      "id": "c63bc1e4-6277-4bff-9185-832a916809c2",
      "name": "Append or update row in Result",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nyoJy6icucUrAXKa",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "18Mbl3qomEaYekp0Q__yLRTTVZ9yAYwRA3t5CW_LE2BQ",
          "mode": "list",
          "cachedResultName": "Copy of email automation n8n - 123",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18Mbl3qomEaYekp0Q__yLRTTVZ9yAYwRA3t5CW_LE2BQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1621273212,
          "mode": "list",
          "cachedResultName": "Results",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18Mbl3qomEaYekp0Q__yLRTTVZ9yAYwRA3t5CW_LE2BQ/edit#gid=1621273212"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1760,
        -32
      ],
      "id": "58beb776-82e8-4a3d-9940-66aca399c9b8",
      "name": "Get row(s) in Result",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nyoJy6icucUrAXKa",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "26aba447-efff-41e1-8f9e-0f0dc6235354",
              "leftValue": "={{ $json['Email Body'] }}",
              "rightValue": "=ERROR",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "461d959b-a29f-460a-86d3-0569e36a7e94",
              "leftValue": "={{ $json['Email Body'] }}",
              "rightValue": "=[Your Name]",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2336,
        -16
      ],
      "id": "afaf8dc2-5694-4b2e-963d-fd947082e167",
      "name": "If1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1744,
        736
      ],
      "id": "87d2f5ed-8d3d-4302-8552-af0fdd939794",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "eBxKGPeaAYwuVNTr",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2080,
        752
      ],
      "id": "daf85224-ee3e-49f5-8dc3-beb1c6c9ab94",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "eBxKGPeaAYwuVNTr",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are writing a referral request email on behalf of Sruthi Gandla, who is seeking a job referral.\n\nCONTEXT:\n- Applicant name: Sruthi Gandla\n- Applicant LinkedIn: https://www.linkedin.com/in/sruthi-gandla-38464b206/\n- Contact person: {{ $('Fetch Data').item.json.Name }}\n- Contact position: {{ $('Fetch Data').item.json.Position }}\n- Contact email: {{ $('Fetch Data').item.json.Email }}\n- Contact LinkedIn: {{ $('Fetch Data').item.json.LinkedIn }}\n- Company: {{ $('Fetch Companies').item.json.Company }}\n- Job title: {{ $('Get row(s) in sheet').item.json.Position }}\n- Job link: {{ $('Get row(s) in sheet').item.json.URL }}\n- Resume text: {{ $('Extract from File').item.json.data }}\n- Context from builder: {{ $('Context Builder Agent').item.json.output }}\n- Template variant: {{ $json.template_variant }}\n\nIMPORTANT RULES:\n1. Sruthi Gandla is the JOB SEEKER, not the recruiter\n2. The email asks the contact person for a referral to the job posting\n3. Always use \"Sruthi Gandla\" in the signature, never \"[Your Name]\" or placeholders\n4. Keep the tone professional but friendly\n5. The email should be from Sruthi's perspective asking for help\n\nTEMPLATE INSTRUCTIONS:\nIf template_variant == \"A\":\n- Write a warm, conversational email (150-200 words)\n- Include a brief personal connection or shared interest if possible\n- Mention 2-3 specific skills from the resume relevant to the job\n- Reference one quantified achievement\n\nIf template_variant == \"B\":\n- Write a concise, professional email (120-150 words)\n- Lead with the strongest qualification\n- Include 2 metrics/achievements from resume\n- Direct and to-the-point\n\nEMAIL STRUCTURE (both templates):\n1. Greeting with contact's name\n2. Brief introduction of Sruthi and purpose\n3. Why Sruthi is qualified (using context from resume)\n4. Specific ask: referral for the position\n5. Include the job link: {{ $('Get row(s) in sheet').item.json.URL }}\n6. Mention resume and LinkedIn are available\n7. Close with appreciation\n8. Sign as \"Best regards,\\nSruthi Gandla\"\n\nOUTPUT FORMAT (JSON only, no markdown):\n{\n  \"subject\": \"Brief subject line (3-7 words)\",\n  \"email_body\": \"Full email text with proper signature\",\n  \"anchor_topics\": [\"topic1\", \"topic2\"]\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2432,
        528
      ],
      "id": "08b4e91a-924f-4313-9822-a16244f8137f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2432,
        736
      ],
      "id": "1cb39413-6936-4e8f-be8d-0790338d4ce9",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "eBxKGPeaAYwuVNTr",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1c995454-844b-4984-aead-203c1306675d",
              "name": " template_variant",
              "value": "A",
              "type": "string"
            },
            {
              "id": "9b94543a-803f-42d3-8189-f107769e04a7",
              "name": "validation_status",
              "value": " pending",
              "type": "string"
            },
            {
              "id": "80fbb55f-a85d-4898-967e-ed748bb1ddb5",
              "name": "=timestamp",
              "value": "=={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2240,
        208
      ],
      "id": "c03c06e0-7663-4890-a7f6-311b95013821",
      "name": "Set Defaults"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        3248,
        96
      ],
      "id": "013509ae-f0d2-4af3-a80f-78753f53a596",
      "name": "Date & Time3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2640,
        -240
      ],
      "id": "377e380e-860e-47a7-bae2-06cc4a3442f9",
      "name": "Loop Over Items1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Fetch Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hunter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hunter": {
      "main": [
        [
          {
            "node": "Fetch Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Companies": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Data": {
      "main": [
        [
          {
            "node": "Set Defaults",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append or update row in Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Get row(s) in Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Controller Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Controller Agent": {
      "main": [
        [
          {
            "node": "Context Builder Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Context Builder Agent": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "Append row in History sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Date & Time2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in History sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time2": {
      "main": [
        [
          {
            "node": "Append row in History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in RL Node": {
      "main": [
        [
          {
            "node": "Metrics Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in History": {
      "main": [
        [
          {
            "node": "Code in RL Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET Node": {
      "main": [
        [
          {
            "node": "Append row in metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Metrics Code": {
      "main": [
        [
          {
            "node": "SET Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in metrics": {
      "main": [
        []
      ]
    },
    "Append or update row in Result": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in Result": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Controller Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Context Builder Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Set Defaults": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time3": {
      "main": [
        [
          {
            "node": "Get row(s) in History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Date & Time3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "62dedeb8-c5d4-4cde-af35-9d7e4068467c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eab6e0814875f3cf8c1e01c13d019c9214014d9e867d6efe547fd26dbaa4c7c2"
  },
  "id": "RE9ivLRWxFpklEnt",
  "tags": []
}